<!-- code for header begins here -->
<div id="header" class="container-fluid">
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-sm-6">
                <div class="p-2 bd-highlight">
                    <strong style="padding-left:10px;" class="blk" >Medical App</strong> </br >
                    <span style="padding-left:10px;" class="dk-blue">CS361 - Group Project </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <div class="d-flex flex-row align-items-center justify-content-end">
        <div class="p-2 bd-highlight">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link blk" href="/"><strong>Index</strong></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<h3>Patient Information</h3>
<table>
  <thead>
    <th>Patient ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Middle Initial</th>
    <th>DOB</th>
    <th>Sex</th>
    <th>Insurance Provider</th>
  </thead>
  <tbody>
  {{#each patient}}
  <tr>
    <td>{{id}}</td>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>{{midName}}</td>
    <td>{{dob}}</td>
    <td>{{sex}}</td>
    <td>{{insurer}}</td>
  </tr>
  {{/each}}
  </tbody>
</table>
<h3>Treatment History</h3>
<table>
  <thead>
    <th>Date</th>
    <th>Physician</th>
    <th>Treatment Facility</th>
    <th>Procedure</th>
    <th>Diagnosis</th>
  </thead>
  <tbody>
  {{#each patientHistory}}
  <tr>
    <td>{{date}}</td>
    <td>{{docName}}</td>
    <td>{{facName}}</td>
    <td>{{procedure}}</td>
    <td>{{diagnosis}}</td>
  </tr>
  {{/each}}
  </tbody>
</table>
<h3>Prescription History</h3>
<table>
  <thead>
    <th>Date</th>
    <th>Physician</th>
    <th>Medicine Name</th>
    <th>Dosage</th>
    <th>Time Prescribed</th>
  </thead>
  <tbody>
  {{#each drugHistory}}
  <tr>
    <td>{{date}}</td>
    <td>{{docName}}</td>
    <td>{{medName}}</td>
    <td>{{dosage}}</td>
    <td>{{time}}</td>
  </tr>
  {{/each}}
  </tbody>
</table>
<!-- code for footer goes here -->
<div id="footer" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="single-post-content-wrapper p-3">
          <span class="wht" > 
            This represents Group 24's group project.
                    </span>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-sm-12">
          <div class="d-flex flex-row align-items-center justify-content-center">
            <div class="p-2 bd-highlight">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link wht" href="/"><strong>Index</strong></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
